<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <h2>Yash Patel | n01675459</h2>
    </header>
    <main>
      {{{body}}}
    </main>
    <footer>
      <p>Contact: yashpatel21@gmail.com</p>
    </footer>
  </body>
</html>
