body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f0f2f5;
  margin: 0;
  padding: 0;
  color: #333;
}

header {
  background-color: #3498db;
  color: white;
  padding: 20px;
  text-align: center;
  font-size: 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

main {
  padding: 30px;
  max-width: 1000px;
  margin: auto;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  border-radius: 6px;
  margin-top: 30px;
  margin-bottom: 30px;
}

footer {
  background-color: #2c3e50;
  color: #ddd;
  text-align: center;
  padding: 15px;
  font-size: 14px;
  position: relative;
  bottom: 0;
  width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #fff;
}

th, td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: left;
}

th {
  background-color: #3498db;
  color: white;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

a {
  color: #3498db;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Style for rows with missing or N/A metascore */
.highlight {
  background-color: #732a2a;
  font-weight: bold;
  /* font-family: 'Courier New', Courier, monospace; */
  color: white;
}
